$white: #fff;
$black: #000;
$red: #c0392b;
$green: #27ae60;
$yellow: #f39c12;

$color-background: $black;
$color-foreground: $white;

$window-border-color: $white;
$window-border-thickness: 1px;
$window-padding: 20px;

$media-query-squeeze-max-width: 1800px;
$media-query-squeeze-max-height: 1200px;

$media-query-one-column-max-width: 1000px;
$media-query-one-column-max-height: 700px;
